@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Josefin Sans', sans-serif;
  --ff-secondary: 'Alata', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-dark-gray: hsl(0, 0%, 55%);
  --clr-very-dark-gray: hsl(0, 0%, 41%);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-black);
  font-family: var(--ff-main);
  font-size: var(--fs-15);
  font-weight: var(--fw-regular);
  line-height: 1.625;
  text-align: left;
}

img {
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */

.nav-link,
.title,
.image-name {
  font-weight: var(--fw-light);
  line-height: 1;
  text-transform: uppercase;
}

.nav-link {
  border-bottom: 1px solid transparent;
  color: var(--clr-white);
  font-size: var(--fs-24);
  padding-bottom: 0.25em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom: 1px solid var(--clr-white);
}

.title--big {
  color: var(--clr-white);
  font-size: var(--fs-40);
}

.title--small {
  font-size: var(--fs-32);
  text-align: center;
}

.text-copy {
  color: var(--clr-very-dark-gray);
  font-family: var(--ff-secondary);
}

.image-name {
  color: var(--clr-white);
  font-size: var(--fs-24);
}

/* ================== */
/* Buttons & inputs */
/* ================== */

.btn {
  background: transparent;
  border: 1px solid var(--clr-black);
  cursor: pointer;
  font-family: var(--ff-secondary);
  font-size: var(--fs-14);
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 0.75em 3em;
}

.btn:hover,
.btn:focus {
  background: var(--clr-black);
  color: var(--clr-white);
}

/* ================== */
/* Utility styles */
/* ================== */

.container {
  margin: 0 auto;
  padding: 0 1.25em;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* Header and Hero */
.header-and-hero {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* Background */
  background: url('./images/mobile/image-hero.jpg') no-repeat;
  background-size: cover;
  background-position: 0% 0%;

  height: 650px;
  padding-top: 1em;
}

.header {
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.logo .logo-img {
  padding-top: 0.75em;
  width: 145px;
}

.open-nav {
  background: transparent;
  border: none;
}

.nav {
  /* Position */
  position: fixed;
  top: 0;
  right: -200%;
  bottom: 0;
  left: 0;

  background: var(--clr-black);
  height: 100vh;
  padding: 1.05em 1.3em;
  transform: translateX(0%);
  transition: transform 150ms;
  width: 100vw;
  z-index: 10;
}

.navigation-open {
  transform: translateX(-100%);
}

.close-nav {
  /* Position */
  position: absolute;
  top: 25px;
  right: 20px;

  background: transparent;
  border: none;
  height: 20px;
  width: 20px;
}

.header .nav-list {
  padding-top: 10em;
}

.header .nav-item {
  margin-top: 2em;
}

.hero {
  margin-top: 11em;
}

.box {
  border: 2px solid var(--clr-white);
  padding: 1.25em 1em;
}

.title--big {
  width: 90%;
}

/* Main */
.main {
  padding-bottom: 6em;
  padding-top: 6em;
}

.section-a {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-a .title {
  margin-top: 1.25em;
}

.section-a .text-copy {
  margin: 1.25em auto 0;
  text-align: center;
  width: 85%;
}

.section-b {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;

  padding-top: 6em;
}

.image-grid {
  /* Grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.image-grid__single {
  cursor: pointer;
  position: relative;
}

.image-grid-img-mobile {
  filter: brightness(80%);
}

.image-grid__single:hover .image-grid-img-mobile,
.image-grid__single:focus .image-grid-img-mobile {
  filter: contrast(40%) brightness(160%);
}

.image-grid__single:hover .image-name,
.image-grid__single:focus .image-name {
  color: var(--clr-black);
}

.image-name {
  /* Position */
  position: absolute;
  bottom: 30px;
}

.image-grid-img-desktop {
  display: none;
}

/* Footer */
.footer {
  background: var(--clr-black);
}

.footer .container {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 3em;
}

.footer-grid {
  /* Grid */
  display: grid;
  place-items: center;

  text-align: center;
}

.footer-links .nav-list {
  margin-top: 2em;
}

.nav-item--footer {
  margin-top: 1em;
}

.nav-item--footer .nav-link {
  font-family: var(--ff-secondary);
  font-size: var(--fs-15);
  text-transform: capitalize;
}

.footer-socials {
  margin-top: 3em;
}

.footer-socials ul {
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.footer-socials li {
  border-bottom: 1px solid transparent;
}
.footer-socials li:hover,
.footer-socials:focus {
  border-bottom: 1px solid var(--clr-white);
}

.footer-legal {
  color: var(--clr-very-dark-gray);
  font-family: var(--ff-secondary);
  font-size: var(--fs-15);
  margin-top: 1em;
}

.footer-signature {
  color: var(--clr-white);
  margin-top: 4em;
  padding-bottom: 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--clr-dark-gray);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

@media (min-width: 1100px) {
  /*   Typography  */
  .title--big {
    font-size: var(--fs-72);
  }

  .title--small {
    font-size: var(--fs-48);
  }

  .image-name {
    font-size: var(--fs-32);
  }

  /* Utility styles */
  .container {
    max-width: 1112px;
  }

  /* SECTIONS */

  /* Header */
  .header-and-hero {
    /* Background */
    background: url('./images/desktop/image-hero.jpg') no-repeat;
    background-size: cover;

    padding-top: 3.5em;
  }

  .open-nav {
    display: none;
  }

  .close-nav {
    display: none;
  }

  .nav {
    background: transparent;
    height: unset;
    padding: 0;
    position: unset;
    margin: 0;
    transform: unset;
    transition: unset;
    width: unset;
  }

  .nav .logo {
    display: none;
  }

  .logo .logo-img {
    width: 200px;
  }

  .header .nav .nav-list {
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    list-style-type: none;
    margin-top: -1.5em;
    padding-top: 0;
  }

  .header .nav .nav-list .nav-item a {
    font-family: var(--ff-secondary);
    font-size: var(--fs-15);
    text-transform: capitalize;
  }

  /* Hero */
  .hero {
    margin-top: 7em;
    width: 100%;
  }

  .box {
    border: 2px solid var(--clr-white);
    padding: 3em 2.5em;
    max-width: 650px;
  }

  .title--big {
    width: 100%;
  }

  /* Main */
  .main {
    padding-top: 9em;
  }

  /* Section A */
  .section-a {
    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    position: relative;
  }

  .section-a__image {
    width: 70%;
  }
  .section-a__copy {
    /* Position */
    position: absolute;
    bottom: 0%;
    left: 47%;

    background: var(--clr-white);
    margin-bottom: 0.5em;
    padding: 1em 5em 0.25em;
    width: 50%;
  }

  .section-a .title {
    margin-top: 1.25em;
    text-align: left;
  }

  .section-a .text-copy {
    margin: 1.25em auto 0;
    text-align: left;
    width: 110%;
  }

  /* Section B */

  .section-b {
    /* Flex */
    align-items: flex-start;
    gap: 4em;

    padding-top: 10em;
    position: relative;
  }

  .image-grid {
    /* Grid */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5em;
  }

  .image-grid__single {
    cursor: pointer;
  }

  .image-grid-img-desktop {
    display: unset;
    filter: brightness(80%);
  }

  .image-grid__single:hover .image-grid-img-desktop,
  .image-grid__single:focus .image-grid-img-desktop {
    filter: contrast(40%) brightness(160%);
  }

  .image-grid-img-mobile {
    display: none;
  }

  .image-name {
    /* Position */
    position: absolute;
    bottom: 40px;
    left: 30px;
    width: 70%;
  }

  .btn {
    /* Position */
    position: absolute;
    top: 150px;
    right: 17px;
  }

  /* Footer */
  .footer .container {
    padding: 3em 0 0.5em;
  }

  .footer-grid {
    /* Grid */
    grid-template-columns: 35% 40% 25%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'logo . socials'
      'links . legal';
    place-items: end start;

    width: 100%;
  }

  .footer-grid .logo {
    grid-area: logo;
  }

  .footer-links {
    grid-area: links;
  }

  .footer-socials {
    /* Grid */
    grid-area: socials;

    margin-top: 0em;
    width: 100%;
  }

  .footer-legal {
    grid-area: legal;
  }

  .footer .logo-img {
    width: 144px;
  }

  .footer-links .nav-list {
    /* Flex */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5em;

    margin-top: 0em;
  }

  .footer-socials ul {
    /* Flex */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
  }
}
